aside {
    width: auto;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
    margin-top: auto;
    
  }

  para1{
    width: auto;
    display: inline-block;
  }
  .container {
    display: flex;
}

.container > * {
    flex: 1;
}
table, th, td {
  border: 1px solid black;
}
